@import url('https://fonts.googleapis.com/css2?family=open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    /* background: linear-gradient(248deg, rgb(0, 0, 0) 0%, rgba(0,85,21,1) 100%); */
    background: #fff;
    transition: 0.5s;
}
.banner.night{
    /* background: #fff; */
    background: linear-gradient(248deg, rgb(0, 0, 0) 0%, rgba(0,85,21,1) 100%);
}
.actionBtn{
    text-align: center;
    margin-left: 25%;
}
.banner::before{
    content: '';
    position: absolute;
    left: 30%;
    top: 10%;
    width: 120px;
    height: 120px;
    background: url(/images/dotted.png);
    background-size: cover;
    animation: animateColor 10s linear infinite;
    transition-delay: -5s;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .Logo{
    color: #000;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
}
header .Logo span{
    color: #1fff01;
}
header ul{
    display: flex;
    gap: 40px;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration:  none;
    font-weight: 500;
    font-size: 1.2em;
    color: #fff;
    transition: 0.5s;
}
.content{
    position: relative;
    max-width: 700px;
    z-index: 10;
}
.content h3{
    font-size:  2em;
    color: #fff;
    font-weight: 200;
    transition: 0.5s;
}
.content h2{
    font-size: 5.5em;
    color: #000;
    font-weight: 700;
    transition: 0.5s;
}
.content h2 span .dayNight{
    color: #fff;
}
.content p{
    font-size: 1.2em;
    color: #000;
    margin: 10px 0;
    transition: 0.5s;
    justify-content: center;
    display: block;
}
.content button {
    position: relative;
    background: #81ff92;
    color: #000;
    outline: none;
    border: none;
    padding: 15px 35px;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    margin-right: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.content button.chat
{
    background: transparent;
    color: #fff;
}
.content button.chat ion-icon{
    position: relative;
    color: #e91e63;
    font-size: 1.5em;
    top: 5px;
}
/* .sci{
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}
.sci li{
    list-style: none;
}
.sci li a{
    text-decoration: none;
    font-size: 1.75em;
    color: #fff;
}
.sci li a:hover{
    color: #2196f3;
} */
.sci {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}

.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    margin-left: 10px;
    background: #dbdada;
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 1.75em;
    color: #000;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.sci li a:hover {
    background: #1fff01;
    transform: translateY(-10px);
    color: #fff;
}

.sci li a img {
    filter: invert(1);
    transform: scale(0.5);
}
.dayNight{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #c5c0c0;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
}
.banner.night .dayNight{
    background: #bababa;
    color: #fff;
}
.dayNight ion-icon:nth-child(2),
.banner.night .dayNight ion-icon:nth-child(1)
{
    display: none;
}
.banner.night .dayNight ion-icon:nth-child(2)
{
    display: block;
}
.banner.night header .Logo,
.banner.night .content h2,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night .sci li a,
.banner.night header ul li a{
    color: #fff;
}
.banner.night .sci li a:hover{
    color: #fff;
    background: #000000;
}
.banner.night .sci li a {
    background: #fff;
    color: #000;
}

.colors{
    position: absolute;
    right: 0;
    max-width: 600px;
    animation: animateColor 8s ease-in-out infinite;
}
@keyframes animateColor{
    0%,100%
    {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
}
.men{
    position: absolute;
    right: 100px;
    bottom: 0;
    max-width: 55vh;
    animation: animateMen 8s ease-in-out infinite;
}
@keyframes animateMen{
    0%,100%
    {
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-50px);
    }
}

@media (max-width:991px) {
    .banner {
        display: block;
        padding: 40px;
        height: 110vh;
    }
    .men {
        width: 75%;
        right: 20px;
    }
    .content h3 {
        margin-top: 40px;
        font-size: 20px;
    }
    .content h2{
        font-size: 30px;
    }
    .colors {
        margin-top: 20%;
        max-width: 400px;
        right: -10px;
    }
    .banner::before {
        display: none;
    }
    .dayNight {
        margin-bottom: 18%;
    }
    .sci li a {
        margin-top: -30rem;
    }
}

@media (width:320px) {
    .colors {
        margin-top: 10%;
        width: 320px;
    }
    .men {
        margin-top: 10%;
    }
    .banner {
       height: 110vh;
    }
    ion-icon {
        width: 20px;
    }
    .sci li a  {
        width: 30px;
        height: 30px;
        margin-top: -28rem;
    }
    .dayNight {
        width: 30px;
        height: 30px;
        color: #000;
    }
    header .Logo {
        font-size: 30px;
        margin-left: 35px;
        margin-top: 16px;
    }
    header {
        padding: 0;
    }
}

